PRIVATE_KEY=
SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_TENDER_FACTORY_ADDRESS=
NEXT_PUBLIC_TENDER_TOKEN_ADDRESS=
NEXT_PUBLIC_RELAYER_URL=
NEXT_PUBLIC_FHEVM_ACL_ADDRESS=
NEXT_PUBLIC_FHEVM_KMS_ADDRESS=
NEXT_PUBLIC_FHEVM_INPUT_VERIFIER_ADDRESS=
NEXT_PUBLIC_FHEVM_DECRYPTION_ADDRESS=
NEXT_PUBLIC_FHEVM_INPUT_VERIFICATION_ADDRESS=
NEXT_PUBLIC_FHEVM_GATEWAY_CHAIN_ID=
